<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Ethereum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center margin-bottom>
    <ion-img src="assets/imgs/eth.png" style="height: 250px"></ion-img>
    </ion-row>
    <ion-row justify-content-center>
      <ion-item>
        
        <div *ngIf="bitcoin$ | async as bc; else temp" >
            <ion-select [(ngModel)]="fiat" (ionChange)="getBitcoinPrice()">
                <ion-select-option value="USD">USD</ion-select-option>
                <ion-select-option value="EUR">EUR</ion-select-option>
                <ion-select-option value="TND">TND</ion-select-option>
              </ion-select>
              <ion-input placeholder="crypto" [(ngModel)]="val" value="{{val2/bc.ask |currency}}"></ion-input>
              <ion-input  [(ngModel)]="val2" value="{{bc.ask*val |currency}}" color="danger" class="gras" placeholder="Fiat"></ion-input>

                          </div>
              <ng-template #temp>
               <h1>Loading...</h1>
              </ng-template >
          </ion-item>
      <div *ngIf="bitcoin$ | async as bc; else loading" class="ion-text-center">
        <h1>  ETH: {{bc.ask | currency: fiat + " "}} </h1>
        <p > The average price last week : {{bc.averages.week | currency : fiat +" "}} </p>
        <p> The average price last day : {{bc.averages.day | currency : fiat +" "}} </p>
        <p> The average price last month : {{bc.averages.month | currency : fiat +" "}} </p>
      </div>
      <ng-template #loading>
        <h1> Loading...</h1>
      </ng-template >
    </ion-row>
    
  </ion-grid>

  
</ion-content>

<ion-footer>
</ion-footer>